<div class="con1">
    <div class="geduan">
        <span>产品推介</span>
    </div>
    <div class="listnav">
        <span>首页</span><b>&gt;</b><span>产品推介</span><b>&gt;</b><span>{{listNav.first}}</span><b>&gt;</b><span>{{listNav.second}}</span>
    </div>
    <ul>
        <li ng-repeat="i in tuijieList"
            data-index="{{$index}}">
            <a href="#detail">
                <img ng-src="{{i.src}}">
                <p>{{i.p}}</p>
                <span>{{i.span|currency:"￥"}}</span>
            </a>
        </li>
    </ul>
    <ul class="page"></ul>
</div>