<div>
    <div class="logoPolicyDetailTitle">
        <h2>没有“主人”，农业谈何现代化？</h2>
        <div>
            <p>  <span>文章分类：</span><i>公告</i></p>
            <p>  <span>文章类型：</span><i>原创</i></p>
            <p>  <span>发布时间：</span><i>2012/02/05 15:10</i></p>
            <p>  <span>文章状态：</span><i>草稿</i></p>
        </div>
    </div>
    <div class="logoPolicyDetailText">
        <p>相信每个人都不少见这样的报道：种粮大户开着先进大机械种地，然而现实的农村究竟是什么样子，你真的不见得清楚。现实当中是，“70后”不愿种地，“80后”不会种地，“90后”不提种地。当美好愿景与三个“不种地”相遇，该是怎样的尴尬呢？（5月30日中国新闻网）</p>
        <p>随着越来越多的农村人口流向城市，城市化率越来越高，农业人口却也在同比例的减少。当“四化”同步的目标已经确定，70后不愿种地，80后不会种地，90后不提种地的“三不种地”现象，已经预示着一种潜在的阻力正在形成，给农业现代化提出了一道不大不小的难题。如何破解这道难题，既事关农业现代化是否能够真正实现，也事关眼下粮食安全问题，倘若没有种地人，又何谈保障？</p>
        <p> 当下种地队伍最明显的特征，是所谓的“三八九九”人员组成，在一些地区，有的壮年妇女在农忙时也很难找到。在一些地方，一些土地承包大户在开工前，首先要为老年雇佣者量血压，甚至担心他们在劳动时不用太劳累，以免因老年病而出现工伤。这就是当下不少地区种地队伍的现状。与此同时，种地人的减少，土地的低效率种植甚至荒废，更为农业现代化蒙上了又一层挥之不去的阴影。</p>
        <p>这双重不利因素，迫切需要在“三八九九”种地队伍中注入“新鲜的血液”，使那些有劳动能力，能够应对农业生产需求的人员尽速回到农业中来。</p>
        <p> 在一些地方，农民把土地流转出去，或将土地入股，然后再在龙头企业、农业合作社等组织中打工，实现就近就业，收入要比单纯的种地高上许多。这应该是当前破解种地队伍短缺的一个方法。</p>
        <img src="img/policyDetailImg.jpg" alt=""/>
    </div>

</div>