<div class="registerAccountPro clearFix">
    <div class="clearFix">
        <span></span><i></i>
        <p>设置账号</p>
    </div>
    <div  class="clearFix ">
        <span></span><i></i>
        <p>基本信息</p>
    </div>
    <div  class="clearFix on">
        <span></span><i></i>
        <p>认证信息</p>
    </div>
    <div  class="clearFix">
        <span></span>
        <p>完成</p>
    </div>
</div>
<div class="registerApprove">
    <div>
        <label>农场头像：</label>
        <div class="registerApproveFile">
            <div>
                <img  src="img/registerApproFile.png" width="100" height="100" alt="" id="fileTx1"/>
                <input  class="onloadPic" type="file" multiple="multiple" id="fileTx2"/>
            </div>
        </div>
        <span>*上传照片仅支持jpg，png</span>
        <span>{{file.touXiang}}</span>
    </div>
    <div>
        <label>营业执照：</label>
        <div class="registerApproveFile">
            <div>
                <img  src="img/registerApproFile.png" width="100" height="100" alt="" id="license1" class="preview"/>
                <input  class="onloadPic" type="file" multiple="multiple" id="license2" />
            </div>
        </div>
       <dl>
           <dt>注册须知</dt>
           <dd>1.营业执照需为加盖农场公章的复印件或扫描件，必须有工商部门的有效盖章</dd>
           <dd>2.证件要求完整、清晰</dd>
           <dd>证件必须在有效期内，并有年检盖章</dd>
       </dl>
    </div>
    <div style="height:250px;">
        <label>法人代表身份证：</label>
       <div class="registerApproveFile">
           <div>
               <img  src="img/registerApproFile.png" width="100" height="100" alt="" class="preview" id="idCard1"/>
               <input  class="onloadPic" type="file" multiple="multiple" id="idCard11"/>
           </div>
           <div>
               <img  src="img/registerApproFile.png" width="100" height="100" alt="" class="preview" id="idCard2"/>
               <input  class="onloadPic" type="file" multiple="multiple" id="idCard21"/>
           </div>
       </div>
       <dl>
           <dt>备注说明</dt>
           <dd>1.审核通过后会第一时间以短信形式通知您</dd>
           <dd>2.如提交使用虚假、伪造证件。需对产生的不良后果承担相应法律责任</dd>
           <dd>农场信息及营业执照图片将受到严格保密，不会以任何形式透露给第三方</dd>
       </dl>
    </div>
    <div class="registerSettingBtn">
        <registerbtn ng-click="approveLast()">上一步</registerbtn>
        <registerbtn ng-click="approveNext()">提交</registerbtn>
    </div>
</div>
<div  ng-class="{'true':'registerSuccess','false':'registerFail'}[success]">
    提交成功
</div>