<div>
    <div class="logoVoteTop">
        <h2>大家喜欢什么类型的农场？</h2>
        <div>
            <p>  <span>投票分类：</span><i>农场特色</i></p>
            <p>  <span>题型设置：</span><i>单选</i></p>
            <p>  <span>投票状态：</span><i>草稿</i></p>
        </div>
    </div>
    <div class="logoVoteChart" >
        <div id="logoVoteChart"></div>
        <p>分享到：
            <a href="#"><i></i></a>
            <a href="#"><i></i></a>
            <a href="#"><i></i></a>
            <a href="#"><i></i></a>
            或
            <a href="#">复制链接</a>
        </p>
    </div>
    <div class="logoVoteBottom">
        <p>  <span>分享次数：</span><i>1111111</i></p>
        <p>  <span>点击次数：</span><i>22222</i></p>
        <p>  <span>发起人：</span><i>吴世勋</i></p>
        <p>  <span>发起时间：</span><i>2016/01/04 13:10</i></p>
    </div>

</div>

